/* Reset*/

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Navbar */

.recipes-navbar{
   display: flex;
   background-color: red;
   padding: 0 1rem;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 1rem;
}
.recipes-navbar h1{
   margin: 1rem;
   color: white;
}

.recipes-navbar a{
   text-decoration: none;
}

/* index.html list style */

.recipes-list ul{
    list-style: none;
    padding: 0 1rem;
    margin: 0;
}

.recipes-list a{
    text-decoration: none;
}

/* Recipes overall style */

.recipe-head{
    display: flex;
}

.recipe-title{
    margin: 1rem;
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
}

.recipe-title *{
    margin: 1rem;
    
}

.recipe-title img{
    width: 250px;
    box-shadow: 1px;
    box-shadow: 10px 5px 5px #969595;
}

.description{
    margin: 1rem;
    line-height: 1.5;
    padding: 1rem 0 1rem 0;
    border-bottom: 1px solid rgba(199, 9, 9, 0.562);
    align-items: center;
}
.description h2,p{
    margin: 1rem 0 1rem 0
    
}

.ingredients{
    margin: 1rem;
    line-height: 1.5;
    padding: 1rem 0 1rem 0;
    border-bottom: 1px solid rgba(199, 9, 9, 0.562);
}

.ingredients h2,p{
    margin: 1rem 0 1rem 0
}

.ingredients ul{
    padding: 0;
    list-style: square;
    list-style-position: inside;
}

.steps{
    margin: 1rem;
    padding: 1rem 0 1rem 0;
    line-height: 1.5;
    border-bottom: 1px solid rgba(199, 9, 9, 0.562);
}

.steps h2,p{
    margin: 1rem 0 1rem 0
}

.steps ol{
    padding: 0;
    list-style-position: inside;
}

.steps li::marker{
    font-weight: bold;
}

.tips{
    margin: 1rem;
    line-height: 1.5;
    padding: 1rem 0 1rem 0;
    border-bottom: 1px solid rgba(199, 9, 9, 0.562);
}

.tips h2,p{
    margin: 1rem 0 1rem 0;
    
}